#Background::before{
  content: '';
            
  inset: 0;                 
  z-index: -1;              

  position: fixed;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(37, 37, 37);

}

.topPart{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    width: 20em;

    margin-top: 7em;

    border-radius: 15px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(3px);

}



#ProfilePic{
    max-width: 15em;
    opacity: 100%;
    border-radius: 2.5em;
}

#UserName{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 37, 37);
    font-weight: 900;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

#description{
    font-size: larger;
    font-weight: 500;
    margin: 0.5em 0;
}

.quick{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#quickSocialsLink{
    margin: 0 0.5em;
    padding: 0.5em;
    border-radius: 15px;

    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

}

#icon{
    max-width: 3em;
}

.embededPosts{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
    border-radius: 15px;
    width: 17em;
    max-width: 20em;
    
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

    background-color: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(3px);
}

.embededPosts p{
    margin-top: 0;
    font-size: 1.25em;
    font-weight: 600;
    font-family: serif
}

.embededPosts img{
    max-width: 15em;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}